section.headerWelcome {
  display: flex;
  margin-top: 32px;
  color: white;
}
section.headerWelcome > div:first-child {
  width: 61rem;
}
section.headerWelcome > div:first-child > h1 {
  color: #28ace2;
  font-weight: bold;
  font-size: 5rem;
  margin-top: 20px;
}
section.headerWelcome > div:first-child > h2 {
  font-weight: bold;
  font-size: 4rem;
  background: linear-gradient(90deg, #cbf231, #dff780);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.headerWelcome > div:first-child > p > span {
  color: #cbf231;
}
section.headerWelcome > div:first-child > p {
  font-weight: 600;
  font-size: larger;
}
.headerLink {
  margin-top: 37px;
  margin-bottom: 50px;
}
.headerLink > a {
  border: 1px solid #28ace2;
  margin-right: 36px;
  padding: 10px 32px;
  text-decoration: none;
  color: #28ace2;
  font-size: larger;
  font-weight: bold;
  border-radius: 4px;
}
a.support {
  background: linear-gradient(376deg, #cbf231, #dff780);
  color: #333;
  border: 1px solid #dff780;
}

/*-------------------- space style-------------- */
.space {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
}
svg {
  font-size: 4rem;
  color: #28ace2;
}
.paceSvg:hover.paceSvg {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  from {
    opacity: 1;
    /* display: none; */
  }
  to {
    opacity: 0;
  }
}
.paceSvg {
  animation: fadeout 3s;
}
@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.spaceSvg2 {
  display: none;
  transition-duration: 4s;
}
.spaceSvg3 {
  display: block;
  transition-duration: 4s;
}

/* ------------world section-------------- */
.worldSection {
  text-align: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
  width: 100%;
  align-items: center;
  position: relative;
}
.four {
  border: 1px solid;
  padding: 1.5rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  background: linear-gradient(90deg, #cbf231, #dff780);
}
.third {
  border: 3px solid #28ace2;
  padding: 4rem;
  border-radius: 50%;
}
.second {
  border: 3px solid #28ace2;
  padding: 3rem;
  border-radius: 50%;
}
.first {
  border: 3px solid #28ace2;
  padding: 4rem;
  border-radius: 50%;
  position: relative;
}

/*-------------------Earth bulet section------------------ */
di.hoverE {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.oneE {
  width: 3rem;
  height: 3rem;
  background: yellow;
  border-radius: 50%;
  transform: translate(207px, -159px);
  position: absolute;
  top: 138px;
  transition: 1s;
}

.twoE {
  width: 2rem;
  height: 2rem;
  background: #00c4ff;
  border-radius: 50%;
  transform: translate(168px, 34px);
  position: absolute;
  top: 138px;
  transition: 1s;
}

.threeE {
  width: 1.2rem;
  height: 1.2rem;
  background: #c000ff;
  border-radius: 50%;
  transform: translate(-243px, -134px);
  position: absolute;
  top: 138px;
  transition: 1s;
}
.fourE {
  width: 3.5rem;
  height: 3.5rem;
  background: #ffb000;
  border-radius: 50%;
  transform: translateY(-1px);
  position: absolute;
  top: 138px;
  transition: 1s;
}
.fiveE {
  width: 2rem;
  height: 2rem;
  background: #002bff;
  border-radius: 50%;
  transform: translate(214px, -98px);
  position: absolute;
  top: 138px;
  transition: 1s;
}
.sixE {
  width: 2rem;
  height: 2rem;
  background: red;
  border-radius: 50%;
  transform: translate(-107px, -15px);
  position: absolute;
  top: 138px;
  transition: 1s;
}

.first:hover .oneE {
  transform: translate(404px, -56px);
}
.first:hover .twoE {
  transform: translate(-159px, -171px);
}
.first:hover .threeE {
  transform: translate(75px, -32px);
}
.first:hover .fourE {
  transform: translate(-210px, -149px);
}
.first:hover .fiveE {
  transform: translate(82px, 104px);
}
.first:hover .sixE {
  transform: translate(-181px, -197px);
}
